{% extends "base_generic.html" %}

{% block content %}
<div class="bg-post-container">
    <img src="https://i0.hdslb.com/bfs/bangumi/image/57839b7894f4e4e73abefc9b1faddb89e57d7b91.png@5120w_1704h_!web-ogv-anime-banner-bg.avif"
        alt="">
</div>
<div class="bg-post-tab-container">
    <div class="bg-post-tab">
        <img src="https://i0.hdslb.com/bfs/bangumi/image/57839b7894f4e4e73abefc9b1faddb89e57d7b91.png@5120w_1704h_!web-ogv-anime-banner-bg.avif"
            alt="">
    </div>
    <div class="bg-post-tab">
        <img src="https://i0.hdslb.com/bfs/bangumi/image/57839b7894f4e4e73abefc9b1faddb89e57d7b91.png@5120w_1704h_!web-ogv-anime-banner-bg.avif"
            alt="">
    </div>
    <div class="bg-post-tab">
        <img src="https://i0.hdslb.com/bfs/bangumi/image/57839b7894f4e4e73abefc9b1faddb89e57d7b91.png@5120w_1704h_!web-ogv-anime-banner-bg.avif"
            alt="">
    </div>
</div>
<div class="introduction-container">
    <div class="introduction">
        <h2>
            个人简介
        </h2>
        <p>
            嘿👋，你好！我是Daisy，热情地欢迎你来到我的小角落——我的追番记录网站。这不仅仅是一个记录我对各式各样动漫的喜爱和评论的地方，它也是我个人生活的一部分，一本开放的日记，详细记载了我与这些多彩故事之间的点滴交流。
        </p>

        <p>
            从童年时期的经典到最新的热门作品，我的网站是对这个不断发展的动漫世界的一份致敬。每一部作品背后都藏着一个故事，每一个故事都与我的某个瞬间或情感相连。在这里，你会发现我关于动漫的深度分析、角色剖析以及我如何在这些故事中找到生活的乐趣和启示。
        </p>

        <p>
            这个网站也是我个人成长的见证，它记录了我的变化，我的思考，以及那些塑造了今天的我、让我笑过、哭过、思考过的动漫作品。每个人的一生都是一部独一无二的史诗，而我的史诗里，动漫占据了特别的一章。
        </p>
    </div>
    <div class="introduction">
        <h2>
            最近我在追的番
        </h2>
        <p>
            时光代理人：为了找到一系列罪案的操纵者，程小时求助于肖力，找寻一切藏匿于暗中的蛛丝马迹。但是拥有未知超能力的凶手在阴影之中，也从没有停止过阴谋的脚步。神秘能力者如影随形，身边伙伴接连遇害，程小时屡次身陷险境。随着追查深入，一桩多年前的凶案浮出水面。真相似乎越来越近，然而凶手的身份却让人始料未及。最终的较量即将展开。
        </p>
        <p>
            蓝色监狱：不当世界第一的利己主义者，就当不上世界第一的前锋。为了培养出能带领日本队夺得世界杯的前锋，日本足球协会制定了一个计划。其名为「蓝色监狱」计划。300名高中生被召集于此，并且全员都是前锋。以其中299人的足球生涯为代价诞生的，为日本足球掀起革命的前锋究竟是谁？现在，史上最热血、最疯狂的足球动画开幕了。
        </p>
    </div>
</div>
{% endblock %}